:root {
  --darkred: #9a1d2e;
  --darkerred: #670000;
  --darkgray: rgb(20, 20, 20);
  background-color: var(--darkred);
}
@font-face {
  font-family: GraphikWeb;
  src: url("fonts/GraphikRegular.otf") format("opentype");
}
@font-face {
  font-family: GraphikWeb;
  font-weight: 500;
  src: url("fonts/GraphikMedium.otf") format("opentype");
}
@font-face {
  font-family: GraphikWeb;
  font-weight: 1000;
  src: url("fonts/GraphikBold.otf") format("opentype");
}
* {
  font-family: GraphikWeb;
}

body {
  height: 100%;
  margin: 0;
}
.container {
  position: relative;
  text-align: center;
  height: min-content;
  color: white;
}
#main-img {
  width: 100%;
  height: 50vh;
  max-height: 400px;
  object-fit: cover;
  overflow: hidden;
  user-select: none;
  position: relative;
  text-align: center;
  display: block;
}
#name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50vw, -50%);
  width: 100%;
  font-size: min(15vw, 13vh);
  font-weight: 1000;
  color: white;
  letter-spacing: -0.04em;
  user-select: none;
  text-shadow: 0.3rem 0.3rem 0 var(--darkred),
    0.6rem 0.6rem 0.5rem var(--darkgray);
}

.topnav {
  background-color: var(--darkred);
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 47px;
  box-shadow: 0 0 5px var(--darkgray);
}
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}
.topnav a:hover {
  background-color: white;
  color: black;
}
.topnav a.active {
  background-color: var(--darkgray);
  color: white;
}
.about-text {
  vertical-align: middle;
  text-indent: 2rem;
  line-height: 2rem;
  margin: auto 20px;
  font-size: 16px;
}
/*Limits the width of the white text section on wider screens- two border boxes, center text/content box*/
.split3-box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 15px auto;
  background-color: var(--darkred);
}
.split3-border-box {
  background-color: var(--darkred);
}
.split3-center-box {
  background-color: white;
  width: 90%;
  max-width: 1000px;
  padding: 2vw;
}

#home-main-text {
  border-color: var(--darkred);
}

h1 {
  margin: 0;
  font-size: 40px;
}
p {
  font-size: 20px;
}
li {
  font-size: 18px;
  padding-bottom: 1vh;
}
