:root {
  --darkred: rgb(179, 1, 30);
  --darkgray: rgb(20, 20, 20);
}
@font-face {
  font-family: GraphikWeb;
  src: url("fonts/GraphikRegular.otf") format("opentype");
}
@font-face {
  font-family: GraphikWeb;
  font-weight: 500;
  src: url("fonts/GraphikMedium.otf") format("opentype");
}
@font-face {
  font-family: GraphikWeb;
  font-weight: 1000;
  src: url("fonts/GraphikBold.otf") format("opentype");
}
* {
  font-family: GraphikWeb;
}

body {
  margin: 0;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
#main-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  overflow: hidden;
  user-select: none;
}
#name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -50%);
  width: 100%;
  font-size: min(15vw, 13vh);
  font-weight: 1000;
  color: white;
  letter-spacing: -0.04em;
  user-select: none;
  text-shadow: 0.3rem 0.3rem 0 var(--darkred), 0.6rem 0.6rem 0 var(--darkgray);
}

.topnav {
  background-color: var(--darkred);
  overflow: hidden;
  display: flex;
  position: sticky;
}
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}
.topnav a:hover {
  background-color: white;
  color: black;
}
.topnav a.active {
  background-color: var(--darkgray);
  color: white;
}
.about-text {
  vertical-align: middle;
  text-indent: 2rem;
  line-height: 2rem;
  margin: auto 20px;
  font-size: 16px;
}
